body {
	margin: 1%;
	font-family: arial;
	color: silver;
	background-color: #04002b;
}

a {
	color: silver;
}

.individual-portfolio {
	font-size: 1.33em;
	color: white;
	position: relative;
	margin: auto;
	height: 100px;
	width: 900px;
	background-color: #444977;
	border-radius: 15px;
	box-sizing: border-box;
}

.delete-portfolio {
	position: relative;
	font-size: 0.88em;
	position: absolute;
	right: 25px;
	bottom: 35px;
}

.navbar {
	text-align: right;
	font-size: 1.33em;
	font-color: silver;
	position: relative;
	background-color: #000022;
	border-bottom: 2.5px solid #1e90ff;
	width: 100%;
	height: 55px;
	padding-top: 20px;
	padding-right: 25px;
}
.portfolio-text {
	vertical-align: center;
	text-indent: 30px;
	padding-top: 35px;
}

.sign-in-form {
	border: 1px solid-black;
}

.sign-up-form {
	position: relative;
}

.portfolio-ul {
	list-style: none;
}

#portfolio-link {
	text-align: center;
	font-size: 1.11em;
}

#portfolio-index-title {
	text-align: center;
	font-size: 1.5em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.green-money {
 	color: green;
}

.red-money {
 	color: red;
}

.neutral-money {
 	color: black;
}

.p-stock-name {
	float: left;
 	width: 150px;
}

.p-stock-symbol {
	float: left;
 	width: 100px;
}

.p-stock-purchase {
	float: left;
 	width: 100px;
}

.p-stock-current {
	float: left;
 	width: 100px;
}

.p-stock-profit-loss {
	float: left;
 	width: 175px;
}

.colhead {
	font-style: italic;
	font-size: 12px;
	text-decoration: underline;
}

.edit-delete-links-container {
/*	font-size: 10px;*/
	vertical-align: center;
}

.edit-links {
}

.delete-button {
}

#total-total {
	padding-top: 10px;
	position: relative;
	margin: auto;
	width: 900px;
	border-radius: 15px;
	box-sizing: border-box;
}

